<%= render partial: 'static/errors', locals: {model: @user} %>
<%= form_with(scope: :user, url: login_path) do |f| %>
    <div class="text-center">
        <%= image_tag("avatar.jpg", alt: "User", width: 250, height: 250) %>
    </div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control input-lg" %><br>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control input-lg" %><br>
    <div class="text-center">
        <%= f.submit "Log in" %>
    </div>
<% end %>
<%= button_to "Google", "/auth/google_oauth2", method: 'POST'%>