<div class="text-center">
    <h1><%= form_title %></h1>
</div>
<%= form_with(model: model) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
   
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control input-lg" %>
    
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control input-lg" %>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control input-lg" %>
    <%= fields_for_helper(f) %>
    <% if @category %>
        <%= f.hidden_field :category_id, value: @category.id %> 
    <%else%>
        <%= render partial: "fields_for", locals: {f: f}  %>
    <%end %>
    <%= f.submit button_name %>
<% end %>