<div class="text-center">
    <h1><%= form_title %></h1>
</div>
<%= form_with(model: model) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
    <% 3.times do %>
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true,class: "form-control input-lg" %>
    <% end %>
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control input-lg" %>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control input-lg" %>
    <%= f.submit button_name %>
<% end %>