<p>Uploaded by <%= @post.user.username %></p>
<h1><%= @post.title %></h1>
<p><%= @post.post_date %></p>
<% if logged_in? && current_user==@post.user %>
    <div class="btn-group">
        <%= button_to "Edit", edit_post_path(@post), method: 'get'%>
        <%= button_to 'Delete', @post, method: 'delete' %>
    </div>
    <br>
<% end %>

<% if @post.link %>
    <%= image_tag(@post.link) %><br>
<% end %>

<% if @post.image.attached?%>
    <%= image_tag(@post.image) %>
<% end %>
<br>
<h4><%= @post.content %></h4><br>

<h4><%= image_tag('view.png', width: '25px', height: '25px')%><%= @post.views %> 
<%= link_to image_tag('ThumbsUp.png', width: '25px', height: '25px'), post_likes_path(@post), method: :post %><%= @post.likes.count %></h4><br> 

<h4>comments <%= @comments.count %></h4>
<% if logged_in? %>
    <%= form_with(model: [@post, @comment = current_user.comments.build()]) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :image_id, value: @post.id %>
        <%= f.text_area :content %>
        <%= f.submit :comment %>
    <% end %>
<% end %>
<ul>   
    <% @comments.each do |comment| %>
        <li>
            <%= comment.user.username %> - <%= comment.content %>
        </li>
    <% end %>
</ul>

